body{
    background-color: #292929;
    font-family: "Courier New";
    text-align: center;
    padding: 2%;
}

.ascii-art_title {    
    white-space: pre;
    font-family: monospace;
    font-size: 3pt;
    color: #B58500
}

.ascii-art_footer {    
    white-space: pre;
    font-family: monospace;
    font-size: 1.5pt;
    color: #B58500
}

.ascii-art_separator{
    white-space:pre;
    font-family: monospace;
    font-size: small;
    color:#B58500
}

.ascii-art_logo{
    white-space:pre;
    font-family: monospace;
    font-size: 1pt;
    color:#5E6738
}

#intro{
    color: #D3BC8D
}

#location {
    white-space: pre-wrap;
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 14pt;
    color: #B58500;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

#disclaimer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: inter-word;
    width: 300px;
    color: #D3BC8D
}

#item_link{
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 14pt;
    color: #5E6738;
}

#item_title{
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 14pt;
    color: #5E6738;
}

#item_body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: inter-word;
    width: 300px;
    color: #D3BC8D
}

#guide{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: inter-word;
    width: 300px;
    color: #D3BC8D
}

#href {
    color: #5E6738;
    text-decoration: none;
}

.collapsible {
  background-color: #292929;
  color: #D3BC8D;
  cursor: pointer;
  padding: 18px;
  width: 350px;
  border: none;
  font-family: 'Courier New';
  font-size: 15px;
  text-align: center;
}

.active, .collapsible:hover {
  background-color: #292929;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #292929;
  font-size: 15px;
}

.button {
  background-color: #292929;
  border: 2px solid #B58500;
  color: #B58500;
  width: 300px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 8px;
  box-sizing: border-box;
  transition-duration: 0.7s;
  cursor: pointer;
}

.button:hover {
  background-color: #B58500;
  border: 2px solid #B58500;
  color: #292929;
  width: 300px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

input[type=text] {
    background-color: #292929;
    border: 2px solid #B58500;
    color: #B58500;
    width: 82px;
    padding: 8px 16px;
    font-family: 'Courier New';
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 0;
}

input[type=handshake] {
  background-color: #292929;
    border: 2px solid #B58500;
    color: #B58500;
    width: 300px;
    padding: 8px 16px;
    font-family: 'Courier New';
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 0;
}

input[type=submit] {
  background-color: #292929;
    border: 2px solid #B58500;
    color: #B58500;
    width: 300px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Courier New';
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    margin: 8px;
    box-sizing: border-box;
    transition-duration: 0.7s;
    cursor: pointer;
    border-radius: 0;
}

input[type=submit]:hover {
  background-color: #B58500;
  border: 2px solid #B58500;
  color: #292929;
  width: 300px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Courier New';
  font-size: 15px;
  text-align: center;
  margin: 8px;
  box-sizing: border-box;
  cursor: pointer;
}


.modal-overlay {
  display: none; 
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.66);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #292929;
  border: 2px solid #B58500;
  color: #B58500;
  width: 350px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Courier New';
  font-size: 15px;
  text-align: center;
  margin: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

#openBtn {
  background-color: #292929;
  border: 2px solid #B58500;
  color: #B58500;
  width: 300px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: 'Courier New';
  margin: 8px;
  box-sizing: border-box;
  transition-duration: 0.7s;
  cursor: pointer;
}

#openBtn:hover {
  background-color: #B58500;
  border: 2px solid #B58500;
  color: #292929;
  width: 300px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: 'Courier New';
  margin: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

#closeBtn {
  background-color: #292929;
  border: 2px solid #B58500;
  color: #B58500;
  width: 300px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: 'Courier New';
  margin: 8px;
  box-sizing: border-box;
  transition-duration: 0.7s;
  cursor: pointer;
}

#closeBtn:hover {
  background-color: #B58500;
  border: 2px solid #B58500;
  color: #292929;
  width: 300px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: 'Courier New';
  margin: 8px;
  box-sizing: border-box;
  cursor: pointer;
}